
/* generali */



html{
    font-family: sans-serif;
}

:root{
    --navbar-height: 5rem;
    --primary-color: #0061ff;
}

a{
    color: var(--primary-color);
}

main{
    padding-top: var(--navbar-height);
    
}

.bigcontainer{
    max-width: 1300px;
    margin: 0 auto;
}

.smallcontainer{
    max-width: 1000px;
    margin: 0 auto;
}

.spaced{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.title-spaced{
    margin-bottom: 4rem;
}

/* font size titoli */
h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 1em;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
}

/* bottoni link */
.button{
    border: 1px solid lightgrey;
    text-decoration: none;
    color: black;
    padding: 1em;
    margin: 1.5rem 0;
    text-align: center;
}

.button-blue{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    border: hidden;
}

/* hovers */
.button-blue:hover{
    text-shadow: 0 0 1px #fdfdfd;
    box-shadow: 0 0 2px #0d2481, inset 0 0 1px 1px #FFF;
}

.button:hover{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    border: hidden;
}

nav .link-hover:hover p{
    border-bottom: 2px solid black;
}



/* faq hover */
.answer{
    position: absolute;
    left: -9999999px;
}

.fa-angle-up{
    position: absolute;
    left: -9999999px;
}

.p-rel:hover .answer{
    position: unset;
}
.p-rel:hover .fa-angle-up{
    position: unset;
}

.p-rel:hover .fa-angle-down{
    position: absolute;
    left: -9999999px;
}









/* header */
nav>ul{

    list-style-type: none;
    height: 100%;
}
nav .link-hover{
    height: 100%;
}

nav li:hover p{
    border-bottom: 2px solid black;
}

nav a p{
    height: 100%;
    color: black;
    vertical-align: center;
    padding: 32px 16px;
}

nav a{
    height: 100%;
    text-decoration: none;
    color: black;
    
}


.topbar{
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px #dedede;
    z-index: 999;
    padding: 0 1em;
}








/* jumbo */


.jumbo{
    width: 100%;
    background-color: #b4d0e7;
}
.container{
    position: relative;
    top: 70px;
}

.jumbo .fa-arrow-down{
    position: absolute;
    bottom: 100px;

}

.jumboimg{
    display: inline-block;
}



/* piani e pagamenti */


.plan-box{
    align-items: stretch;   
}

.plan-border{
    border: 1px solid black;
}



.card-title{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 1em;
}

.card-content{
    padding: 2em;
}


.card-content>ul{
    margin-left: 5%;
}

.card-content>ul>li{
    
    padding-bottom: 1em;
}

.fa-check{
    color: var(--primary-color);
}



/* card orizzontale */

.horizontalcard{
    margin-top: 3em;

}

.horizontalcard h3{
    align-self: center;
}



/* strumenti */
.strumenti h3{
    margin: 2rem 0;
}




/* aziende partner */

.partners{
    width:100%;
    height: calc(100vw / 3);
    margin-top: 5rem;
}

.colonna{
    width: calc(100% / 3);
    height: 100%;
}

.quadrato{
    width: 50%;
    height: 50%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.logoclienti{
    width: 100%;
    margin: 0 auto;
    filter: invert(1);
}

/* colonna centrale */

.centrale{
    padding: 50px;
    overflow-y: auto;
    
}

.centrale>hr{
    width: 40%;
    margin-bottom: 3rem;
}
.centrale>img{
    width: 50%;
    padding-bottom: 4rem;
}

.fascia{
    height: calc(0.5 * 100vw / 3);
    width: 100%;
}






/* faq */




.answer{
    padding: 16px 80px 32px 0;
}



/* footer */


footer{
    
    background-color: black;
}
.footcolumn{
    width: 20%;
    color: white;
    list-style-type: none;
}
.footcolumn>ul{
    list-style-type: none;

}
.footcolumn>ul>li{
    line-height: 2rem;
}
.footcolumn>h5{
    margin: 2rem 0;
    font-size: 20px;

}


/* testo */
.bold{
    font-weight: bold;
}


/* colori */
.bg-mint{ background-color: #a2d39b;}
.bg-carmine{ background-color: #61082b;}
.bg-skyblue{ background-color: #0093ce;}
.bg-lightred{ background-color: #ff1c1c;}
.bg-graysky{ background-color: #b4d0e7 ;}
.bg-oceanblue{background-color: #0d2481;}
.bg-yellow2{ background-color: #ffd830;}
.color-carmine{color: #61082b;}
.bg-box{background-color: #f5f5f5;}