

html{

    font-family: sans-serif;

}


.topbar{
    height: calc(10vh);
    background-color: pink;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}
.logo{
    padding:16px;
}

.jumbo{
    width: 100%;
}
.container{
    width: 70%;
    margin: 2em auto;
}
.navigation a{
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #222222;
}

.sfondo{
    padding: calc(10vh);
    width: 80%;
    height: 70vh;
    margin: 2em auto;
}

.thin-container{
    width:60%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;

}

.card{
    border: 2px solid black;
    width: 30%;

}

.orizzontale{
    border: 2px solid black;
    display: block;

}

h2{
    margin: 2em auto;
    width: 60%;
}

.enterprise{
    margin: 2em auto;
    width: 60%;
    display: flex;
    justify-content: center;
}