*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* padding */

.p-8{ padding: 8px;}
.pt-8{ padding-top: 8px;}
.pb-8{ padding-bottom: 8px;}
.pl-8{ padding-left: 8px;}
.pr-8{ padding-right: 8px;}
.py-8{ padding: 8px 0px 8px 0px;}
.px-8{ padding: 0 8px 0 8px;} 

.p-16{ padding: 16px;}
.pt-16{ padding-top: 16px;}
.pb-16{ padding-bottom: 16px;}
.pl-16{ padding-left: 16px;}
.pr-16{ padding-right: 16px;}
.py-16{ padding: 16px 0px 16px 0px;}
.px-16{ padding: 0 16px 0 16px;} 

.p-32{ padding: 32px;}
.pt-32{ padding-top: 32px;}
.pb-32{ padding-bottom: 32px;}
.pl-32{ padding-left: 32px;}
.pr-32{ padding-right: 32px;}
.py-32{ padding: 32px 0px 32px 0px;}
.px-32{ padding: 0 32px 0 32px;} 

.py-64{ padding: 64px 0px;}
.p-64{ padding: 64px}
.pb-64{ padding-bottom: 64px;}
/* FLEX */

.d-flex{ display: flex;}
.flex-row{ flex-direction: row;}
.flex-col{ flex-direction: column;}
.flex-justify-between{ justify-content: space-between;}
.flex-justify-around{ justify-content: space-around;}
.flex-align-center{ align-items: center;}
.flex-justify-center{ justify-content: center;}
.flex-stretch{ align-items: stretch;}
.f-wrap{ flex-wrap: wrap;}
.flex-align-self-center{align-self: center;}
.flex-justify-evenly{justify-content: space-evenly;}

/* background */

.bg-violet{ background-color: violet;}
.bg-goldenrod{ background-color: goldenrod;}
.bg-darkblue{ background-color: darkblue;}
.bg-lightblue{ background-color: lightblue;}
.bg-pink{ background-color: pink ;}
.bg-dodgerblue{ background-color: dodgerblue ;}
.bg-lightgray{ background-color: lightgray;}
.bg-darkback{ background-color: #222;}
.bg-lightcoral{ background-color: lightcoral;}
.bg-zalando{ background-color: #ff6900;}
.bg-rosso{background-color: red;}
.bg-green{background-color: green;}
.bg-blue{background-color: blue;}
.bg-yellow{background-color: yellow;}
.bg-mint{ background-color: #a2d39b;}
.bg-carmine{ background-color: #61082b;}
.bg-skyblue{ background-color: #0093ce;}
.bg-lightred{ background-color: #ff1c1c;}
.bg-graysky{ background-color: #b4d0e7 ;}
.bg-oceanblue{background-color: #0d2481;}
.bg-yellow2{ background-color: #ffd830;}

.bg-box{background-color: #f5f5f5;}


/* width */
.w-20{ width: 20%;}
.w-25{ width: 25%;}
.w-40{ width: 40%;}
.w-30{ width: 30%;}
.w-33{ width: 33%}
.w-50{ width: 50%;}
.w-60{ width: 60%;}
.w-66{ width: 66%;}
.w-70{ width: 70%}
.w-100{width: 100%;}



/* allineamento testo */
.t-center{ text-align: center; }
.t-left{ text-align: left; }
.t-right{ text-align: right; }

    
    

/* font size */

.f-14{ font-size: 14px;}
.f-30{font-size: 30px;}
.f-20{font-size: 20px;}
.f-40{ font-size: 40px;}

/* margin */

.m-8{ margin: 8px;}
.mt-8{ margin-top: 8px;}
.mb-8{ margin-bottom: 8px;}
.ml-8{ margin-left: 8px;}
.mr-8{ margin-right: 8px;}
.my-8{ margin: 8px 0px 8px 0px;}
.mx-8{ margin: 0 8px 0 8px;} 

.m-16{ margin: 16px;}
.mt-16{ margin-top: 16px;}
.mb-16{ margin-bottom: 16px;}
.ml-16{ margin-left: 16px;}
.mr-16{ margin-right: 16px;}
.my-16{ margin: 16px 0px 16px 0px;}
.mx-16{ margin: 0 16px 0 16px;} 

.m-32{ margin: 32px;}
.mt-32{ margin-top: 32px;}
.mb-32{ margin-bottom: 32px;}
.ml-32{ margin-left: 32px;}
.mr-32{ margin-right: 32px;}
.my-32{ margin: 32px 0px 32px 0px;}
.mx-32{ margin: 0 32px 0 32px;} 

/* position */

.p-rel{position: relative;}


/* colore */
.color-red{color: red}
.color-carmine{color: #61082b;}



/* shadow */

.light-shadow{ box-shadow: 0 1px 3px #666;}








/* display */
.display-in-block{
    display: inline-block;
}











/* height */



.h-20{ height: 20%;}
.h-25{ height: 25%;}
.h-40{ height: 40%;}
.h-30{ height: 30%;}
.h-33{ height: 33%}
.h-50{ height: 50%;}
.h-60{ height: 60%;}
.h-66{ height: 66%;}
.h-70{ height: 70%}
.h-100{height: 100%;}